.container-input {
  height: 150px;
  padding-bottom: 10px;
}
.inputfield {
  width: 430px;
  height: 120px;
  border: #bcbcbc solid;
  border-style: outset;
  border-radius: 25px;
}
.chkbox {
  float: left;
  height: 50%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}
.check-important:hover {
  background-color: #ffd3d3;
}
.check-important.active {
  background-color: hotpink;
}
.check-important {
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border: none;
  text-align: center;
  height: 50px;
  border-radius: 25px;
}
.inputbox {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}
.input-button {
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: hotpink;
}
.input-what-description {
  padding-right: 20px;
}
.input-what-field {
  padding: 0, 0;
  margin: 0, 0;
  width: 30px;
  height: 5px;
}
.input-when-description {
  padding-right: 10px;
}
.input-when-field {
}
.container-list {
  padding-top: 50px;
}
