.print {
  float: left;
  width: 60%;
}

.edit-email,
.edit-pw,
.edit-name,
.edit-mobile {
  float: left;
  width: 40%;
  height: 10pt;
  font-size: small;
  text-align: center;
}

.edit-button {
  border: none;
  background-color: pink;
  width: 90px;
  text-align: center;
}
