.list {
  display: block;
  border-bottom: 1px solid #ebebeb;
  width: 500px;
}
.list-id {
  display: none;
}
.list-important {
  width: 3%;
  float: left;
  padding-right: 10px;
  text-decoration: none;
}
.checkemoji:hover {
  background-color: #ffd3d3;
}
.checkemoji {
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 10px;
  padding: 0px, 0px;
  padding-left: 3px;
}
.list-content {
  width: 67%;
  float: left;
  padding-right: 20px;
}
.list-startDate {
  width: 15%;
  float: left;
  padding-right: 10px;
}
.list-complete {
  text-decoration: none;
}
